In [2]:
import camelot
import pandas as pd
import numpy as np
import re
import os

In [3]:
# Helper codes

def clean_country_name(name):
    name = str(name).strip()              
    name = re.sub(r'\s+', ' ', name)     
    name = re.sub(r"\s*-\s*.*", "", name)
    name = re.sub(r"[^A-Za-z\s]", "", name)
    name = re.sub(r'[^A-Za-z\s]', '', name)  
    return name.title()                   

# --- Constants ---
MONTH_ORDER = [
    "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
]

# --- Helpers ---
def get_months(df):
    """Return ordered list of existing month columns."""
    return [m for m in MONTH_ORDER if m in df.columns]

In [4]:
exclude_words = [
    "A S I A",
    "ASEAN",
    "SUB-TOTAL",
    "EAST ASIA",
    "SOUTH ASIA",
    "MIDDLE EAST",
    "A M E R I C A",
    "NORTH AMERICA",
    "SOUTH AMERICA",
    "E U R O P E",
    "WESTERN EUROPE",
    "NORTHERN EUROPE",
    "SOUTHERN EUROPE",
    "EASTERN EUROPE",
    "EASTERN MEDITERRANEAN EUROPE",
    "AUSTRALASIA/PACIFIC",
    "TOTAL (CIS & RUSSIA)"
    "A F R I C A	"
]

In [5]:
# Read tables from PDF (PAGE 1)
pdf_file = "/Users/kim/Desktop/repos/Philippines_Visitor/data/rawData/2015-JAN-DEC.pdf"
tables = camelot.read_pdf(pdf_file, pages='1', flavor="stream")

# Combine all extracted tables into one DataFrame
df1 = pd.concat([table.df for table in tables], ignore_index=True)

# Clean data 
df1 = df1.iloc[2:].reset_index(drop=True) # Drop top 4 rows (not needed for the table)
df1.columns = range(df1.shape[1])

df1.drop(
    df1[df1[0].str.upper().isin(exclude_words)].index,
    inplace=True
)

df1 = df1.reset_index(drop=True).iloc[:-1]
df1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,BRUNEI,645,709,840,676,"1,003",607,742,627,739,653,678,"1,096","9,015",0.17,"9,677",-6.84
1,CAMBODIA,219,233,245,366,325,267,295,311,276,319,414,233,"3,503",0.07,"3,276",6.93
2,INDONESIA,"3,949","3,615","4,235","3,705","4,035","3,772","4,233","4,528","3,832","4,238","4,086","3,950","48,178",0.90,"46,757",3.04
3,LAOS,93,97,119,104,139,87,98,111,105,91,91,96,"1,231",0.02,"1,056",16.57
4,MALAYSIA,"12,256","11,188","13,892","13,089","14,690","12,851","12,981","13,048","13,189","11,936","13,544","13,150","155,814",2.91,"139,245",11.90
5,MYANMAR,593,579,682,565,662,649,622,435,515,586,621,524,"7,033",0.13,"6,633",6.03
6,SINGAPORE,"12,995","14,279","16,942","15,816","17,363","15,422","14,585","14,515","14,122","14,366","14,928","15,843","181,176",3.38,"179,099",1.16
7,THAILAND,"3,426","3,759","4,059","4,429","3,541","3,422","3,351","3,569","3,418","3,961","3,637","3,466","44,038",0.82,"45,943",-4.15
8,VIETNAM,"2,807","2,811","2,858","2,761","2,884","2,607","2,810","2,189","2,283","2,618","2,508","2,443","31,579",0.59,"29,800",5.97
9,CHINA,"21,164","41,812","30,067","33,250","31,537","32,495","66,689","65,403","51,378","42,073","37,329","37,644","490,841",9.16,"394,951",24.28
10,HONGKONG,"7,858","13,171","10,483","12,031","10,586","8,656","10,661","10,202","10,160","10,267","8,574","9,531","122,180",2.28,"114,100",7.08
11,JAPAN,"38,190","45,299","46,885","37,228","37,102","32,560","41,620","55,997","45,934","36,332","35,612","42,903","495,662",9.25,"463,744",6.88
12,KOREA,"147,163","121,218","93,099","90,465","94,086","96,954","119,292","139,472","95,386","102,057","105,330","135,156","1,339,678",24.99,"1,175,472",13.97
13,MACAU,577,793,833,"1,028",903,722,993,"1,012",856,"1,000",627,816,"10,160",0.19,"8,110",25.28
14,TAIWAN,"11,804","15,198","14,711","13,859","13,790","16,038","18,833","16,397","14,564","15,337","13,399","13,740","177,670",3.31,"142,973",24.27
15,BANGLADESH,311,268,411,321,450,332,568,407,328,415,489,364,"4,664",0.09,"3,805",22.58
16,INDIA,"6,221","5,244","6,415","6,335","7,030","5,848","5,565","5,837","6,070","6,590","7,108","6,561","74,824",1.40,"61,152",22.36
17,IRAN,213,140,258,195,315,359,143,124,129,208,233,188,"2,505",0.05,"2,899",-13.59
18,NEPAL,360,305,203,186,242,271,176,232,203,249,202,279,"2,908",0.05,"2,875",1.15
19,PAKISTAN,391,338,419,337,466,328,324,412,328,337,364,302,"4,346",0.08,"3,819",13.80
20,SRI LANKA,384,391,423,450,562,493,349,427,328,516,544,425,"5,292",0.10,"4,068",30.09
21,BAHRAIN,302,225,271,327,287,275,423,361,327,268,197,299,"3,562",0.07,"4,003",-11.02
22,EGYPT,135,142,151,152,102,138,140,165,112,123,96,174,"1,630",0.03,"1,640",-0.61
23,JORDAN,67,58,61,51,58,81,64,49,53,39,47,49,677,0.01,757,-10.57
24,KUWAIT,495,409,381,444,458,417,622,586,482,384,356,406,"5,440",0.10,"5,290",2.84
25,QATAR*,302,313,423,426,384,299,442,380,429,318,303,453,"4,472",0.08,"3,990",12.08
26,SAUDI ARABIA,"4,154","3,798","4,446","3,447","3,995","2,341","7,098","5,532","5,642","3,886","3,680","2,865","50,884",0.95,"43,483",17.02
27,UNITED ARAB EMIRATES,"1,169","1,170","1,728","1,626","1,455","1,181","1,822","1,451","1,318","1,313","1,147","1,501","16,881",0.31,"17,000",-0.70
28,CANADA,"17,922","13,146","15,688","13,990","13,152","8,255","11,250","8,890","7,559","11,051","12,196","23,264","156,363",2.92,"143,899",8.66
29,MEXICO,307,235,267,243,222,264,338,290,241,230,293,215,"3,145",0.06,"2,716",15.80
30,USA,"76,896","65,330","71,831","69,520","67,199","65,173","65,218","50,050","46,291","59,150","55,451","87,108","779,217",14.54,"722,750",7.81

In [6]:
# Read tables from PDF (PAGE 2)
tables = camelot.read_pdf(pdf_file, pages='2', flavor="stream")

# Combine all extracted tables into one DataFrame
df2 = pd.concat([table.df for table in tables], ignore_index=True)

# Clean data 
df2 = df2.iloc[3:].reset_index(drop=True) # Drop top 4 rows (not needed for the table)
df2.columns = range(df2.shape[1])

df2.drop(
   df2[df2[0].str.upper().isin(exclude_words)].index,
    inplace=True
)

df2 = df2[df2[0] != 'EASTERN MEDITERRANEAN EUROPE**'].reset_index(drop=True)


# DROP TOTAL RUSSIAN FEDERATION 
df2 = df2.reset_index(drop=True)
df2 = df2.drop(26).reset_index(drop=True)
df2 = df2.drop(23).reset_index(drop=True)

In [7]:
# Read tables from PDF (PAGE 3)
tables = camelot.read_pdf(pdf_file, pages='3', flavor="stream")

# Combine all extracted tables into one DataFrame
df3 = pd.concat([table.df for table in tables], ignore_index=True)

# Clean data 
df3 = df3.iloc[2:].reset_index(drop=True) # Drop top 4 rows (not needed for the table)
df3.columns = range(df3.shape[1])

df3.drop(
   df3[df3[0].str.upper().isin(exclude_words)].index,
    inplace=True
)
df3 = df3.drop(index=7).reset_index(drop=True)
df3 = df3.reset_index(drop=True)

# DROP EMPTY ROW
df3 = df3.drop(7).reset_index(drop=True)

# DROP UNWANTED ROWS AT THE END 
df3 = df3.iloc[:-19]

In [8]:
combined_df = pd.concat([df1, df2, df3], ignore_index=True)

combined_df.columns = [
        "Country",
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
        "Total",
        "Percentage",
        "Previous Total",
        "Growth Rate"
        ]

# Clean and convert column to float
combined_df['Total'] = (
    combined_df['Total']
    .astype(str)               # ensure everything is string
    .str.replace(',', '')      # remove commas
    .str.strip()               # remove leading/trailing spaces
    .replace({'': np.nan, '-': np.nan})  # replace empty strings and '-' with NaN
    .astype(float)             # convert to float
)

combined_df = combined_df.sort_values(by="Total", ascending=False).reset_index(drop=True)

# Copy the row you want to move
row_to_move = combined_df.iloc[6]

# Drop the original row
combined_df = combined_df.drop(6).reset_index(drop=True)

top = combined_df.iloc[:1]   

bottom = combined_df.iloc[1:] 

# Insert the row
combined_df = pd.concat([top, pd.DataFrame([row_to_move]), bottom]).reset_index(drop=True)

combined_df['Country'] = combined_df['Country'].apply(clean_country_name)

# Update country names 
combined_df['Country'] = combined_df['Country'].replace('Independent States', 'Commonwealth of Independent States')

combined_df['Country'] = combined_df['Country'].replace('Hongkong', 'Hong Kong')

combined_df['Country'] = combined_df['Country'].replace('Korea', 'South Korea')

combined_df.to_csv("/Users/kim/Desktop/repos/Philippines_Visitor/data/cleanedData/2015cleanData.csv")

In [9]:
# Store Monthly Data
monthly_folder = "/Users/kim/Desktop/repos/Philippines_Visitor/data/monthly_visitors"

monthly_df = combined_df.iloc[2:].reset_index(drop=True) 
monthly_df['Country'] = monthly_df['Country'].apply(clean_country_name)

months = get_months(combined_df)

monthly_df = monthly_df[['Country'] + months]

mon_out_path = os.path.join(monthly_folder, f"2015_monthly.csv")

monthly_df.to_csv(mon_out_path, index=False)

print(f"Saved 2015 Monthly Visitors csv file")

Saved 2015 Monthly Visitors csv file

In [10]:
# Store Special Categories Data
cat_folder = "/Users/kim/Desktop/repos/Philippines_Visitor/data/special_category"

cat_df = combined_df.head(2)
cat_df['Country'] = cat_df['Country'].replace("T O T A L", "TOTAL")
cat_df['Country'] = cat_df['Country'].replace("Overseas Filipinos***", "Overseas Filipinos")
cat_df["Country"] = cat_df["Country"].astype(str).str.strip().str.title()
cat_df["Country"] = cat_df["Country"].apply(clean_country_name)

cat_df = cat_df.iloc[:, :-4]

cat_out_path = os.path.join(cat_folder, f"2015_category.csv")
cat_df.to_csv(cat_out_path, index=False)

print(f"Saved 2015 Category csv file")

Saved 2015 Category csv file

/var/folders/fj/1bp6c_7s3b51sm954hmfznt40000gn/T/ipykernel_64326/2558152172.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df['Country'] = cat_df['Country'].replace("T O T A L", "TOTAL")
/var/folders/fj/1bp6c_7s3b51sm954hmfznt40000gn/T/ipykernel_64326/2558152172.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df['Country'] = cat_df['Country'].replace("Overseas Filipinos***", "Overseas Filipinos")
/var/folders/fj/1bp6c_7s3b51sm954hmfznt40000gn/T/ipykernel_64326/2558152172.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df["Country"] = cat_df["Country"].astype(str).str.strip().str.title()
/var/folders/fj/1bp6c_7s3b51sm954hmfznt40000gn/T/ipykernel_64326/2558152172.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df["Country"] = cat_df["Country"].apply(clean_country_name)

In [11]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         69 non-null     object
 1   January         69 non-null     object
 2   February        69 non-null     object
 3   March           69 non-null     object
 4   April           69 non-null     object
 5   May             69 non-null     object
 6   June            69 non-null     object
 7   July            69 non-null     object
 8   August          69 non-null     object
 9   September       69 non-null     object
 10  October         69 non-null     object
 11  November        69 non-null     object
 12  December        69 non-null     object
 13  Total           69 non-null     float64
 14  Percentage      69 non-null     object
 15  Previous Total  69 non-null     object
 16  Growth Rate     69 non-null     object
dtypes: float64(1), object(16)
memory usage: 9.3+ KB

In [12]:
year_folder = "/Users/kim/Desktop/repos/Philippines_Visitor/data/yearly_total"

year_df = combined_df[['Country', 'Total', 'Percentage', 'Previous Total', 'Growth Rate']]

year_df = year_df.iloc[2:]

year_df["Percentage"] = pd.to_numeric(year_df["Percentage"], errors = 'coerce')

year_df["Growth Rate"] = pd.to_numeric(year_df["Growth Rate"], errors = 'coerce')

year_df["Previous Total"] = (
    year_df["Previous Total"]
        .astype(str)
        .str.replace('"', '', regex=False)
        .str.replace(',', '', regex=False)   # REMOVE COMMAS
        .str.strip()
)

year_df["Previous Total"] = year_df["Previous Total"].astype(float)

year_path = os.path.join(year_folder, f"2015_year.csv")

year_df.to_csv(year_path, index=False)

print(f"Saved 2015 Year csv file")

Saved 2015 Year csv file