In [1]:
import camelot
import pandas as pd
import numpy as np
import re
import os

In [2]:
# Helper codes

def clean_country_name(name):
    name = str(name).strip()              
    name = re.sub(r'\s+', ' ', name)     
    name = re.sub(r"\s*-\s*.*", "", name)
    name = re.sub(r"[^A-Za-z\s]", "", name)
    name = re.sub(r'[^A-Za-z\s]', '', name)  
    return name.title()                   

# --- Constants ---
MONTH_ORDER = [
    "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
]

# --- Helpers ---
def get_months(df):
    """Return ordered list of existing month columns."""
    return [m for m in MONTH_ORDER if m in df.columns]

In [3]:
exclude_words = [
    "A S I A",
    "ASEAN",
    "SUB-TOTAL",
    "EAST ASIA",
    "SOUTH ASIA",
    "MIDDLE EAST",
    "A M E R I C A",
    "NORTH AMERICA",
    "SOUTH AMERICA",
    "E U R O P E",
    "WESTERN EUROPE",
    "NORTHERN EUROPE",
    "SOUTHERN EUROPE",
    "EASTERN EUROPE",
    "EASTERN MEDITERRANEAN EUROPE",
    "AUSTRALASIA/PACIFIC",
    "TOTAL (CIS & RUSSIA)"
    "A F R I C A	"
]

In [4]:
# Read tables from PDF (PAGE 1)
pdf_file = "/Users/kim/Desktop/repos/Philippines_Visitor/data/rawData/2016-JAN-DEC.pdf"
tables = camelot.read_pdf(pdf_file, pages='1', flavor="stream")

# Combine all extracted tables into one DataFrame
df1 = pd.concat([table.df for table in tables], ignore_index=True)

# Clean data 
df1 = df1.iloc[2:].reset_index(drop=True) # Drop top 4 rows (not needed for the table)
df1.columns = range(df1.shape[1])

df1.drop(
    df1[df1[0].str.upper().isin(exclude_words)].index,
    inplace=True
)

df1 = df1.reset_index(drop=True).iloc[:-1]

In [5]:
# Read tables from PDF (PAGE 2)
tables = camelot.read_pdf(pdf_file, pages='2', flavor="stream")

# Combine all extracted tables into one DataFrame
df2 = pd.concat([table.df for table in tables], ignore_index=True)

# Clean data 
df2 = df2.iloc[3:].reset_index(drop=True) # Drop top 4 rows (not needed for the table)
df2.columns = range(df2.shape[1])

df2.drop(
   df2[df2[0].str.upper().isin(exclude_words)].index,
    inplace=True
)

df2 = df2[df2[0] != 'EASTERN MEDITERRANEAN EUROPE**'].reset_index(drop=True)

df2 = df2.reset_index(drop=True)

# DROP TOTAL RUSSIAN FEDERATION 
df2 = df2.reset_index(drop=True)
df2 = df2.drop(26).reset_index(drop=True)
df2 = df2.drop(23).reset_index(drop=True)

df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,ARGENTINA,392,338,310,243,191,116,114,105,100,141,161,158,"2,369",0.04,"1,745",35.76
1,BRAZIL,412,422,346,319,317,313,274,249,317,415,541,595,"4,520",0.08,"3,495",29.33
2,COLOMBIA,135,81,113,84,100,129,97,93,153,170,139,137,"1,431",0.02,"1,228",16.53
3,PERU,67,40,58,44,44,52,35,35,39,60,65,42,581,0.01,561,3.57
4,VENEZUELA,26,24,32,26,21,25,32,20,22,15,19,9,271,0.00,221,22.62
5,ANDORRA,19,23,28,28,25,24,36,48,39,51,21,22,364,0.01,329,10.64
6,AUSTRIA,"1,716","1,349","1,257",998,705,623,"1,277",914,608,828,"1,007","1,805","13,087",0.22,"12,267",6.68
7,BELGIUM,"1,151","1,266","1,635","1,025",964,"1,071","1,956",782,856,"1,064","1,091","1,616","14,477",0.24,"12,825",12.88
8,FRANCE,"5,356","7,146","5,915","5,563","4,356","2,809","4,233","3,325","2,360","3,905","4,348","6,068","55,384",0.93,"45,505",21.71
9,GERMANY,"8,337","9,869","10,415","7,018","5,901","4,082","6,112","5,814","4,779","6,598","7,357","10,081","86,363",1.45,"75,348",14.62
10,LUXEMBOURG,89,79,101,63,46,48,63,92,45,50,50,107,833,0.01,687,21.25
11,NETHERLANDS,"3,240","2,809","2,872","2,848","2,319","1,788","3,282","2,080","1,555","2,409","2,882","3,792","31,876",0.53,"28,632",11.33
12,SWITZERLAND,"3,432","3,062","2,896","2,738","2,024","1,294","2,581","1,372","1,384","2,362","2,475","3,800","29,420",0.49,"27,200",8.16
13,DENMARK,"2,477","2,286","2,013","1,276",986,"1,040","1,821",811,819,"1,108","1,335","2,077","18,049",0.30,"15,269",18.21
14,FINLAND,"1,049",729,602,382,378,409,295,239,304,472,584,875,"6,318",0.11,"6,548",-3.51
15,IRELAND,"1,249",944,"1,686","1,122","1,261","1,643","1,922","1,105",835,"1,153","1,301","2,336","16,557",0.28,"14,050",17.84
16,NORWAY,"2,198","1,912","2,245","1,274","1,174","2,642","2,769",959,992,"1,286","1,486","2,669","21,606",0.36,"20,968",3.04
17,SWEDEN,"3,569","3,504","2,797","1,718","1,264","1,638","1,442",828,909,"1,642","2,210","4,541","26,062",0.44,"23,206",12.31
18,UNITED KINGDOM,"15,072","13,166","20,859","13,942","13,236","10,598","16,980","13,682","9,261","13,116","13,797","19,590","173,299",2.90,"154,589",12.10
19,GREECE,231,252,225,187,192,149,176,123,136,196,346,270,"2,483",0.04,"2,386",4.07
20,ITALY,"2,778","2,480","2,159","1,922","1,546","1,461","2,074","2,428","1,324","1,766","2,308","3,699","25,945",0.43,"21,620",20.00
21,PORTUGAL,297,424,316,238,181,180,193,194,152,241,357,226,"2,999",0.05,"2,206",35.95
22,SPAIN,"2,833","2,259","2,656","2,186","1,803","1,763","3,470","3,951","1,798","2,650","3,254","3,474","32,097",0.54,"24,144",32.94
23,INDEPENDENT STATES,"1,314","1,120",906,860,832,699,745,741,626,651,908,940,"10,342",0.17,"10,100",2.40
24,RUSSIAN FEDERATION,"4,310","3,050","2,150","1,988","1,426","1,005","1,082","1,069","1,253","2,814","4,065","3,998","28,210",0.47,"25,278",11.60
25,POLAND,"1,284","1,323",960,653,567,353,365,365,394,607,"1,247",775,"8,893",0.15,"8,030",10.75
26,ISRAEL,"1,620","1,678","1,643","1,713","1,120",629,891,934,"1,611","2,072","1,307","1,507","16,725",0.28,"11,756",42.27
27,TURKEY,954,994,690,568,527,514,721,483,615,584,653,581,"7,884",0.13,"6,026",30.83

In [6]:
# Read tables from PDF (PAGE 3)
tables = camelot.read_pdf(pdf_file, pages='3', flavor="stream")

# Combine all extracted tables into one DataFrame
df3 = pd.concat([table.df for table in tables], ignore_index=True)

# Clean data 
df3 = df3.iloc[2:].reset_index(drop=True) # Drop top 4 rows (not needed for the table)
df3.columns = range(df3.shape[1])

df3.drop(
   df3[df3[0].str.upper().isin(exclude_words)].index,
    inplace=True
)
# DROP EMPTY ROW
df3 = df3.drop([7,11]).reset_index(drop=True)

# DROP UNWANTED ROWS AT THE END 
df3 = df3.iloc[:-20]
df3

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,AUSTRALIA,"25,274","18,438","23,553","21,231","19,886","17,827","19,232","15,575","17,584","20,220","19,618","32,660","251,098",4.21,"241,187",4.11
1,GUAM,"2,485","2,430","3,089","3,095","3,792","4,629","4,688","3,108","2,670","2,675","2,880","3,236","38,777",0.65,"35,262",9.97
2,NAURU,2,,1,-,2,3,-,4,-,5,-,-,17,0.00,20,-15.00
3,NEW ZEALAND,"2,011","1,283","1,724","1,991","1,774","1,840","1,975","1,535","1,621","1,829","2,143","3,705","23,431",0.39,"20,579",13.86
4,PAPUA NEW GUINEA,568,537,553,589,755,756,675,567,822,603,564,749,"7,738",0.13,"5,910",30.93
5,NIGERIA,163,90,105,129,187,164,144,141,108,109,83,66,"1,489",0.02,"1,430",4.13
6,SOUTH AFRICA,435,350,559,436,361,362,426,359,345,353,409,722,"5,117",0.09,"4,570",11.97
7,RESIDENCES,"6,679","6,044","5,651","5,098","4,126","4,151","4,269","3,424","3,379","3,999","5,409","4,997","57,226",0.96,"49,074",16.61
8,T O T A L,"525,832","537,194","485,892","452,396","427,934","444,043","541,298","490,190","414,202","432,157","472,258","553,186","5,776,582",96.81,"5,148,819",12.19
9,OVERSEAS FILIPINOS***,"16,426","12,531","24,378","19,202","17,515","15,095","19,574","12,549","8,741","10,868","10,092","23,452","190,423",3.19,"211,863",-10.12

In [7]:
combined_df = pd.concat([df1, df2, df3], ignore_index=True)

combined_df.columns = [
        "Country",
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
        "Total",
        "Percentage",
        "Previous Total",
        "Growth Rate"
        ]

# Clean and convert column to float

combined_df['Total'] = (
    combined_df['Total']
    .astype(str)               # ensure everything is string
    .str.replace(',', '')      # remove commas
    .str.strip()               # remove leading/trailing spaces
    .replace({'': np.nan, '-': np.nan})  # replace empty strings and '-' with NaN
    .astype(float)             # convert to float
)
combined_df = combined_df.sort_values(by="Total", ascending=False).reset_index(drop=True)

# Copy the row you want to move
row_to_move = combined_df.iloc[7]

# Drop the original row
combined_df = combined_df.drop(7).reset_index(drop=True)

top = combined_df.iloc[:1]   
bottom = combined_df.iloc[1:] 

# Insert the row
combined_df = pd.concat([top, pd.DataFrame([row_to_move]), bottom]).reset_index(drop=True)

combined_df['Country'] = combined_df['Country'].apply(clean_country_name)

combined_df['Country'] = combined_df['Country'].replace('Independent States', 'Commonwealth of Independent States')
combined_df['Country'] = combined_df['Country'].replace('Hongkong', 'Hong Kong')
combined_df['Country'] = combined_df['Country'].replace('Korea', 'South Korea')



combined_df.to_csv("/Users/kim/Desktop/repos/Philippines_Visitor/data/cleanedData/2016cleanData.csv")

In [8]:
# Store Monthly Data
monthly_folder = "/Users/kim/Desktop/repos/Philippines_Visitor/data/monthly_visitors"

monthly_df = combined_df.iloc[2:].reset_index(drop=True) 
monthly_df['Country'] = monthly_df['Country'].apply(clean_country_name)

months = get_months(combined_df)

monthly_df = monthly_df[['Country'] + months]

mon_out_path = os.path.join(monthly_folder, f"2016_monthly.csv")
monthly_df.to_csv(mon_out_path, index=False)

print(f"Saved 2016 Monthly Visitors csv file")

Saved 2016 Monthly Visitors csv file

In [9]:
# Store Special Categories Data

cat_folder = "/Users/kim/Desktop/repos/Philippines_Visitor/data/special_category"

cat_df = combined_df.head(2)
cat_df['Country'] = cat_df['Country'].replace("T O T A L", "TOTAL")
cat_df['Country'] = cat_df['Country'].replace("Overseas Filipinos***", "Overseas Filipinos")
cat_df["Country"] = cat_df["Country"].astype(str).str.strip().str.title()
cat_df["Country"] = cat_df["Country"].apply(clean_country_name)

cat_df = cat_df.iloc[:, :-4]

cat_out_path = os.path.join(cat_folder, f"2016_category.csv")
cat_df.to_csv(cat_out_path, index=False)

print(f"Saved 2016 Category csv file")

Saved 2016 Category csv file

/var/folders/fj/1bp6c_7s3b51sm954hmfznt40000gn/T/ipykernel_64359/3866474738.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df['Country'] = cat_df['Country'].replace("T O T A L", "TOTAL")
/var/folders/fj/1bp6c_7s3b51sm954hmfznt40000gn/T/ipykernel_64359/3866474738.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df['Country'] = cat_df['Country'].replace("Overseas Filipinos***", "Overseas Filipinos")
/var/folders/fj/1bp6c_7s3b51sm954hmfznt40000gn/T/ipykernel_64359/3866474738.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df["Country"] = cat_df["Country"].astype(str).str.strip().str.title()
/var/folders/fj/1bp6c_7s3b51sm954hmfznt40000gn/T/ipykernel_64359/3866474738.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df["Country"] = cat_df["Country"].apply(clean_country_name)

In [10]:
year_folder = "/Users/kim/Desktop/repos/Philippines_Visitor/data/yearly_total"

year_df = combined_df[['Country', 'Total', 'Percentage', 'Previous Total', 'Growth Rate']]
year_df = year_df.iloc[2:]

year_df["Previous Total"] = (
    year_df["Previous Total"]
        .astype(str)
        .str.replace('"', '', regex=False)
        .str.replace(',', '', regex=False)   # REMOVE COMMAS
        .str.strip()
)

year_df["Previous Total"] = year_df["Previous Total"].astype(float)

year_df["Growth Rate"] = pd.to_numeric(year_df["Growth Rate"], errors = 'coerce')
year_df["Percentage"] = pd.to_numeric(year_df["Percentage"], errors = 'coerce')

year_path = os.path.join(year_folder, f"2016_year.csv")
year_df.to_csv(year_path, index=False)

print(f"Saved 2016 Year csv file")

Saved 2016 Year csv file