In [1]:
import camelot
import pandas as pd
import numpy as np
import re
import os

In [2]:
# Helper codes

def clean_country_name(name):
    name = str(name).strip()              
    name = re.sub(r'\s+', ' ', name)     
    name = re.sub(r"\s*-\s*.*", "", name)
    name = re.sub(r"[^A-Za-z\s]", "", name)
    name = re.sub(r'[^A-Za-z\s]', '', name)  
    return name.title()                   

# --- Constants ---
MONTH_ORDER = [
    "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
]

# --- Helpers ---
def get_months(df):
    """Return ordered list of existing month columns."""
    return [m for m in MONTH_ORDER if m in df.columns]

In [3]:
# Read tables from PDF (PAGE 1)
pdf_file = "/Users/kim/Desktop/repos/Philippines_Visitor/data/rawData/2022-Feb-Dec.pdf"
tables = camelot.read_pdf(pdf_file, pages='1', flavor="stream")

# Combine all extracted tables into one DataFrame
df1 = pd.concat([table.df for table in tables], ignore_index=True)

# Clean data 
df1 = df1.iloc[1:].reset_index(drop=True) # Drop top 4 rows (not needed for the table)
df1.iloc[:3, 1] = df1.iloc[:3, 2]
df1 = df1.drop(columns=[2])
df1.columns = range(df1.shape[1])
df1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,,GRAND TOTAL,"47,715","117,150","188,574","206,393","254,309","295,650","263,529","246,898","274,803","324,610","434,227","2,653,858",100.00%
1,,TOTAL OVERSEAS FILIPINOS *,"21,409**",47511**,73059**,81459**,100806**,"63,333","45,478","39,674","47,126","48,709","59,881","628,445",23.68%
2,,TOTAL FOREIGN TOURIST,"26,306","69,639","115,515","124,934","153,503","232,317","218,051","207,224","227,677","275,901","374,346","2,025,413",76.32%
3,1,AMERICAN,"1,779","26,045","36,188","40,657","48,797","55,054","44,491","45,701","53,866","58,926","93,585","505,089",19.03%
4,2,SOUTH KOREAN,"10,176","4,829","10,206","15,624","25,111","55,054","55,573","43,695","49,065","64,882","93,799","428,014",16.13%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,57,CAMBODIAN,6,23,95,76,85,199,145,153,193,304,175,"1,454",0.05%
60,58,COLOMBIAN,-,51,69,80,109,115,144,155,191,236,196,"1,346",0.05%
61,59,HUNGARIAN,36,72,159,80,92,108,86,107,152,215,185,"1,292",0.05%
62,60,OMANI,15,66,16,88,73,237,152,98,131,128,99,"1,103",0.04%
63,61,BULGARIAN,6,57,84,40,66,79,77,83,111,213,183,999,0.04%

In [4]:
# Read tables from PDF (PAGE 2)
tables = camelot.read_pdf(pdf_file, pages='2', flavor="stream")

# Combine all extracted tables into one DataFrame
df2 = pd.concat([table.df for table in tables], ignore_index=True)
df2 = df2.iloc[6:].reset_index(drop=True) # Drop top 4 rows (not needed for the table)
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,62,ICELANDIC,-,40,60,97,188,98,76,55,63,67,244,988,0.04%
1,63,LITHUANIAN,16,48,52,58,52,57,57,78,115,240,178,951,0.04%
2,64,ARGENTINE,11,43,58,67,54,59,91,98,140,185,137,943,0.04%
3,65,TUNISIAN,11,32,19,38,55,116,107,132,120,155,150,935,0.04%
4,66,SLOVAK,13,43,74,57,41,59,66,78,87,170,180,868,0.03%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,119,DOMINICAN,-,5,17,10,10,16,19,13,23,22,25,160,0.01%
60,120,SALVADOREAN,-,-,12,8,13,13,18,22,28,30,15,159,0.01%
61,121,GUATEMALAN,-,4,10,6,17,18,14,20,24,16,28,157,0.01%
62,122,NAMIBIAN,-,16,17,17,23,15,21,8,14,9,16,156,0.01%
63,123,IRAQI,-,-,6,14,18,16,26,22,14,19,20,155,0.01%

In [5]:
tables = camelot.read_pdf(pdf_file, pages='3', flavor="stream")

# Combine all extracted tables into one DataFrame
df3 = pd.concat([table.df for table in tables], ignore_index=True)
df3 = df3.iloc[5:].reset_index(drop=True) # Drop top 4 rows (not needed for the table)
df3

     0                1  2   3  4   5   6   7   8   9   10  11  12   13     14
0   124      TRINIDADIAN  -   9  9   7   5  18  18  22  13  25  22  148  0.01%
1   125         ALBANIAN  -   -  3   7   5  15  12  26  28  22  29  147  0.01%
2   126         ERITREAN  1   9  5   5   6  13  39  22  12  14   6  132  0.00%
3   127         MALAGASY  -   4  3  14  19   9  18  20  13  10   9  119  0.00%
4   128  CONGOLESE (DRC)  -  12  9  10  13   5  29  14  16  10   -  118  0.00%
..  ...              ... ..  .. ..  ..  ..  ..  ..  ..  ..  ..  ..  ...    ...
59  170        BARBADIAN  -   3  2   -   2   5   6   6   6   3   -   33  0.00%
60  170            CUBAN  -   -  3   2   2   2   5   4   9   4   2   33  0.00%
61  170        ST LUCIAN  -   -  5   6   3   2   3   3   5   4   2   33  0.00%
62  171       VINCENTIAN  -   2  5   1   2   4   8   3   1   5   1   32  0.00%
63  171          COMORAN  -   1  -   1   1   3   6   1  10   5   4   32  0.00%

[64 rows x 15 columns]

In [6]:
tables = camelot.read_pdf(pdf_file, pages='4', flavor="stream")

# Combine all extracted tables into one DataFrame
df4 = pd.concat([table.df for table in tables], ignore_index=True)
df4 = df4.iloc[5:].reset_index(drop=True) # Drop top 4 rows (not needed for the table)
df4 = df4.drop(columns=[3,4,6,8,10,12])
df4.columns = range(df4.shape[1])

df4 = df4.iloc[:-11]

df4

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,172,TOGOLESE,-,1,1,4,1,1,3,5,5,2,6,29,0.00%
1,172,CITIZEN OF KIRIBATI,-,1,1,-,3,2,-,5,8,5,4,29,0.00%
2,173,VATICAN CITIZEN,-,2,1,4,3,1,5,4,1,2,4,27,0.00%
3,174,ANGUILLAN,-,-,3,1,-,3,4,2,4,7,1,25,0.00%
4,174,SURINAMESE,-,4,-,1,3,2,-,4,2,8,1,25,0.00%
5,174,EQUATORIAL GUINEAN,-,-,1,2,2,2,9,2,2,-,5,25,0.00%
6,174,SWAZI,-,-,1,-,1,5,3,-,3,3,9,25,0.00%
7,175,MAURITANIAN,-,3,-,-,-,2,4,5,2,3,5,24,0.00%
8,176,NORTHERN IRISH,2,-,5,-,6,-,2,3,2,2,1,23,0.00%
9,176,GABONESE,-,-,2,-,1,1,9,1,1,7,1,23,0.00%
10,177,BURKINAN,-,-,3,1,1,5,1,4,1,3,1,20,0.00%
11,178,DJIBOUTIAN,-,1,-,3,-,1,1,1,3,6,3,19,0.00%
12,179,TURKS AND CAICOS ISLANDER,-,-,3,-,4,6,1,-,3,-,1,18,0.00%
13,180,TUVALUAN,3,2,-,-,1,-,1,2,6,-,2,17,0.00%
14,181,PITCAIRN ISLANDER,1,-,-,5,4,1,-,1,1,1,1,15,0.00%
15,181,SAMMARINESE,-,-,4,-,1,-,-,4,2,-,4,15,0.00%
16,182,KOSOVAN,-,-,-,-,1,4,3,1,2,3,-,14,0.00%
17,182,MONEGASQUE,-,-,2,2,-,-,5,2,2,1,-,14,0.00%
18,183,US VIRGIN ISLAND,-,-,-,-,-,-,-,-,-,-,13,13,0.00%
19,184,NAURUAN,-,-,-,-,-,1,1,2,2,4,2,12,0.00%
20,185,GIBRALTARIAN,-,-,-,-,2,5,-,-,1,2,1,11,0.00%
21,186,COOK ISLANDER,2,-,-,-,-,-,-,2,2,2,1,9,0.00%
22,187,MOSOTHO,-,-,2,1,1,-,-,3,-,1,-,8,0.00%
23,187,CITIZEN OF GUINEA-BISSAU,-,-,-,1,1,-,1,5,-,-,-,8,0.00%
24,188,WELSH,-,1,1,-,1,1,-,3,-,-,-,7,0.00%
25,188,CENTRAL AFRICAN,-,-,1,-,1,1,-,-,1,2,1,7,0.00%
26,188,ST HELENIAN,-,-,2,1,-,1,-,-,-,2,1,7,0.00%
27,188,MOTSWANA,,,,,,-,-,-,-,-,7,7,0.00%
28,189,NIUEAN,-,-,-,-,-,-,2,4,-,-,-,6,0.00%
29,190,CYMRAES,,-,-,,,1,1,-,-,3,-,5,0.00%
30,191,CITIZEN OF BOSNIA AND HERZEGOVINA,-,-,1,-,-,-,1,1,-,-,1,4,0.00%
31,191,CYMRO,-,-,-,1,1,-,2,-,-,-,-,4,0.00%
32,191,TRISTANIAN,-,-,1,-,-,2,-,-,1,-,-,4,0.00%
33,191,ARUBA,-,-,-,-,-,-,-,-,-,2,2,4,0.00%
34,191,WALLISIAN,-,-,-,-,1,1,-,1,-,-,1,4,0.00%
35,191,REUNIONESE,,,-,,,-,-,-,-,-,4,4,0.00%
36,192,SAO TOMEAN,-,-,-,-,1,-,-,-,1,1,-,3,0.00%
37,193,MARTINIQUAIS,-,-,-,-,1,-,-,1,-,-,-,2,0.00%
38,193,FRENCH POLYNESIAN,,-,-,,,-,-,-,-,-,2,2,0.00%
39,193,PRYDEINIG,,-,1,,,-,-,1,-,-,-,2,0.00%
40,194,GREENLANDIC,,-,-,,,-,-,-,-,1,-,1,0.00%
41,194,HERZEGOVINIAN,,-,-,,,-,-,-,1,-,-,1,0.00%
42,194,ANTARCTIC,,-,-,,,-,-,-,-,-,1,1,0.00%
43,194,SAHRAWI,,,,,,-,-,-,-,-,1,1,0.00%

In [7]:
combined_df = pd.concat([df1, df2, df3, df4], ignore_index=True)

combined_df.columns = [
        "Rank",
        "Country",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
        "Total",
        "Percentage"
        ]

combined_df = combined_df.drop(columns="Rank")

# Clean and convert column to float
combined_df['Total'] = (
    combined_df['Total']
    .astype(str)               # ensure everything is string
    .str.replace(',', '')      # remove commas
    .str.strip()               # remove leading/trailing spaces
    .replace({'': np.nan, '-': np.nan})  # replace empty strings and '-' with NaN
    .astype(float)             # convert to float
)
combined_df = combined_df.sort_values(by="Total", ascending=False).reset_index(drop=True)

combined_df

,Country,February,March,April,May,June,July,August,September,October,November,December,Total,Percentage
0,GRAND TOTAL,"47,715","117,150","188,574","206,393","254,309","295,650","263,529","246,898","274,803","324,610","434,227",2653858.0,100.00%
1,TOTAL FOREIGN TOURIST,"26,306","69,639","115,515","124,934","153,503","232,317","218,051","207,224","227,677","275,901","374,346",2025413.0,76.32%
2,TOTAL OVERSEAS FILIPINOS *,"21,409**",47511**,73059**,81459**,100806**,"63,333","45,478","39,674","47,126","48,709","59,881",628445.0,23.68%
3,AMERICAN,"1,779","26,045","36,188","40,657","48,797","55,054","44,491","45,701","53,866","58,926","93,585",505089.0,19.03%
4,SOUTH KOREAN,"10,176","4,829","10,206","15,624","25,111","55,054","55,573","43,695","49,065","64,882","93,799",428014.0,16.13%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,PRYDEINIG,,-,1,,,-,-,1,-,-,-,2.0,0.00%
232,GREENLANDIC,,-,-,,,-,-,-,-,1,-,1.0,0.00%
233,HERZEGOVINIAN,,-,-,,,-,-,-,1,-,-,1.0,0.00%
234,ANTARCTIC,,-,-,,,-,-,-,-,-,1,1.0,0.00%
235,SAHRAWI,,,,,,-,-,-,-,-,1,1.0,0.00%

In [8]:
country_name_map = {
    "AMERICAN": "Usa",
    "SOUTH KOREAN": "South Korea",
    "AUSTRALIAN": "Australia",
    "CANADIAN": "Canada",
    "BRITISH": "United Kingdom",
    "JAPANESE": "Japan",
    "SINGAPOREAN": "Singapore",
    "INDIAN": "India",
    "MALAYSIAN": "Malaysia",
    "CHINESE": "China",
    "GERMAN": "Germany",
    "VIETNAMESE": "Vietnam",
    "INDONESIAN": "Indonesia",
    "FRENCH": "France",
    "TAIWANESE": "Taiwan",
    "DUTCH": "Netherlands",
    "SPANISH": "Spain",
    "NEW ZEALANDER": "New Zealand",
    "THAI": "Thailand",
    "ITALIAN": "Italy",
    "IRISH": "Ireland",
    "NORWEGIAN": "Norway",
    "SWISS": "Switzerland",
    "SAUDI ARABIAN": "Saudi Arabia",
    "ISRAELI": "Israel",
    "SWEDISH": "Sweden",
    "BELGIAN": "Belgium",
    "HONG KONGER": "Hong Kong",
    "RUSSIAN": "Russian Federation",
    "AUSTRIAN": "Austria",
    "DANISH": "Denmark",
    "TURKISH": "Turkey",
    "BURMESE": "Myanmar",
    "POLISH": "Poland",
    "SOUTH AFRICAN": "South Africa",
    "BRAZILIAN": "Brazil",
    "GUAMANIAN": "Guam",
    "FINNISH": "Finland",
    "ROMANIAN": "Romania",
    "PORTUGUESE": "Portugal",
    "BANGLADESHI": "Bangladesh",
    "PAKISTANI": "Pakistan",
    "KUWAITI": "Kuwait",
    "EMIRATI": "United Arab Emirates",
    "NEPALESE": "Nepal",
    "CZECH": "Czech Republic",
    "NIGERIAN": "Nigeria",
    "MONGOLIAN": "Mongolia",
    "BRUNEIAN": "Brunei",
    "MEXICAN": "Mexico",
    "SRI LANKAN": "Sri Lanka",
    "GREEK": "Greece",
    "EGYPTIAN": "Egypt",
    "PAPUA NEW GUINEAN": "Papua New Guinea",
    "BAHRAINI": "Bahrain",
    "MOROCCAN": "Morocco",
    "CAMBODIAN": "Cambodia",
    "COLOMBIAN": "Colombia",
    "HUNGARIAN": "Hungary",
    "OMANI": "Oman",
    "BULGARIAN": "Bulgaria",
    "ICELANDIC": "Iceland",
    "LITHUANIAN": "Lithuania",
    "ARGENTINE": "Argentina",
    "TUNISIAN": "Tunisia",
    "SLOVAK": "Slovakia",
    "CROATIAN": "Croatia",
    "UKRAINIAN": "Ukraine",
    "PALAUAN": "Palau",
    "IRANIAN": "Iran",
    "LEBANESE": "Lebanon",
    "CHILEAN": "Chile",
    "KAZAKH": "Kazakhstan",
    "MALDIVIAN": "Maldives",
    "QATARI": "Qatar",
    "JORDANIAN": "Jordan",
    "CYPRIOT": "Cyprus",
    "KENYAN": "Kenya",
    "CAMEROONIAN": "Cameroon",
    "MICRONESIAN": "Micronesia",
    "PERUVIAN": "Peru",
    "SLOVENIAN": "Slovenia",
    "SERBIAN": "Serbia",
    "UZBEK": "Uzbekistan",
    "LAO": "Laos",
    "NORTH KOREAN": "North Korea",
    "SYRIAN": "Syria",
    "LATVIAN": "Latvia",
    "FIJIAN": "Fiji",
    "ESTONIAN": "Estonia",
    "SCOTTISH": "Scotland",
    "EAST TIMORESE": "Timor-Leste",
    "GHANAIAN": "Ghana",
    "MALTESE": "Malta",
    "YEMENI": "Yemen",
    "LUXEMBOURGER": "Luxembourg",
    "ARMENIAN": "Armenia",
    "COSTA RICAN": "Costa Rica",
    "ALGERIAN": "Algeria",
    "SUDANESE": "Sudan",
    "MAURITIAN": "Mauritius",
    "VENEZUELAN": "Venezuela",
    "KYRGYZ": "Kyrgyzstan",
    "ETHIOPIAN": "Ethiopia",
    "PUERTO RICAN": "Puerto Rico",
    "TANZANIAN": "Tanzania",
    "MARSHALLESE": "Marshall Islands",
    "ECUADOREAN": "Ecuador",
    "UGANDAN": "Uganda",
    "ZIMBABWEAN": "Zimbabwe",
    "URUGUAYAN": "Uruguay",
    "MACANESE": "Macau",
    "JAMAICAN": "Jamaica",
    "CITIZEN OF VANUATU": "Vanuatu",
    "BELARUSIAN": "Belarus",
    "KITTITIAN": "Saint Kitts and Nevis",
    "AMERICAN SAMOAN": "American Samoa",
    "CHADIAN": "Chad",
    "PALESTINIAN": "Palestine",
    "PANAMANIAN": "Panama",
    "DOMINICAN": "Dominican Republic",
    "SALVADOREAN": "El Salvador",
    "GUATEMALAN": "Guatemala",
    "NAMIBIAN": "Namibia",
    "IRAQI": "Iraq",
    "TRINIDADIAN": "Trinidad and Tobago",
    "ALBANIAN": "Albania",
    "ERITREAN": "Eritrea",
    "MALAGASY": "Madagascar",
    "CONGOLESE (DRC)": "Congo Democratic Republic of",
    "ANDORRAN": "Andorra",
    "ANGOLAN": "Angola",
    "IVORIAN": "Cote d'Ivoire Ivory Coast",
    "BOLIVIAN": "Bolivia",
    "MALIAN": "Mali",
    "HONDURAN": "Honduras",
    "BOSNIAN": "Bosnia",
    "BHUTANESE": "Bhutan",
    "SOLOMON ISLANDER": "Solomon Islands",
    "AFGHAN": "Afghanistan",
    "TAJIK": "Tajikistan",
    "GEORGIAN": "Georgia",
    "LIBERIAN": "Liberia",
    "MACEDONIAN": "Macedonia",
    "ZAMBIAN": "Zambia",
    "TURKMEN": "Turkmenistan",
    "BERMUDIAN": "Bermuda",
    "SAMOAN": "Samoa",
    "TONGAN": "Tonga",
    "RWANDAN": "Rwanda",
    "NICARAGUAN": "Nicaragua",
    "MOLDOVAN": "Moldova",
    "HAITIAN": "Haiti",
    "CONGOLESE (CONGO)": "Congo Republic Of Cap Brazzaville",
    "SENEGALESE": "Senegal",
    "SOMALI": "Somalia",
    "MOZAMBICAN": "Mozambique",
    "NIGERIEN": "Niger",
    "BAHAMIAN": "Bahamas",
    "CITIZEN OF SEYCHELLES": "Seychelles",
    "PARAGUAYAN": "Paraguay",
    "GUINEAN": "Guinea",
    "LIBYAN": "Libya",
    "AZERBAIJANI": "Azerbaijan",
    "FAROESE": "Faroe Islands",
    "CAYMAN ISLANDER": "Cayman Islands",
    "LIECHTENSTEIN CITIZEN": "Liechtenstein",
    "STATELESS": "Stateless",
    "GRENADIAN": "Grenada",
    "SOUTH SUDANESE": "South Sudan",
    "MALAWIAN": "Malawi",
    "NORTHERN MARIANAN": "Northern Mariana Islands",
    "SIERRA LEONEAN": "Sierra Leone",
    "BOTSWANAN": "Botswana",
    "GUYANESE": "Guyana",
    "CITIZEN OF ANTIGUA AND BARBUDA": "Antigua and Barbuda",
    "BRITISH VIRGIN ISLANDER": "British Virgin Islands",
    "BENINESE": "Benin",
    "CAPE VERDEAN": "Cabo Verde",
    "MONTENEGRIN": "Montenegro",
    "GAMBIAN": "Gambia",
    "BELIZEAN": "Belize",
    "BURUNDIAN": "Burundi",
    "CITIZEN OF THE DOMINICAN REPUBLIC": "Dominican Republic",
    "BARBADIAN": "Barbados",
    "CUBAN": "Cuba",
    "ST LUCIAN": "Saint Lucia",
    "VINCENTIAN": "Saint Vincent and the Grenadines",
    "COMORAN": "Comoros",
    "TOGOLESE": "Togo",
    "CITIZEN OF KIRIBATI": "Kiribati",
    "VATICAN CITIZEN": "Vatican City State",
    "ANGUILLAN": "Anguilla",
    "SURINAMESE": "Suriname",
    "EQUATORIAL GUINEAN": "Equatorial Guinea",
    "SWAZI": "Eswatini",
    "MAURITANIAN": "Mauritania",
    "NORTHERN IRISH": "Northern Ireland",
    "GABONESE": "Gabon",
    "BURKINAN": "Burkina Faso",
    "DJIBOUTIAN": "Djibouti",
    "TURKS AND CAICOS ISLANDER": "Turks and Caicos",
    "TUVALUAN": "Tuvalu",
    "PITCAIRN ISLANDER": "Pitcairn Islands",
    "SAMMARINESE": "San Marino",
    "KOSOVAN": "Kosovo",
    "MONEGASQUE": "Monaco",
    "US VIRGIN ISLAND": "Virgin Islands Us",
    "NAURUAN": "Nauru",
    "GIBRALTARIAN": "Gibraltar",
    "COOK ISLANDER": "Cook Islands",
    "MOSOTHO": "Lesotho",
    "CITIZEN OF GUINEA-BISSAU": "Guinea-Bissau",
    "WELSH": "Wales",
    "CENTRAL AFRICAN": "Central African Republic",
    "ST HELENIAN": "Saint Helena",
    "MOTSWANA": "Botswana",
    "NIUEAN": "Niue",
    "CYMRAES": "Wales",
    "CITIZEN OF BOSNIA AND HERZEGOVINA": "Bosnia and Herzegovina",
    "CYMRO": "Wales",
    "TRISTANIAN": "Saint Helena",
    "ARUBA": "Aruba",
    "WALLISIAN": "Wallis and Futuna",
    "REUNIONESE": "Reunion",
    "SAO TOMEAN": "Sao Tome and Principe",
    "MARTINIQUAIS": "Martinique",
    "FRENCH POLYNESIAN": "French Polynesia",
    "PRYDEINIG": "Wales",
    "GREENLANDIC": "Greenland",
    "HERZEGOVINIAN": "Bosnia and Herzegovina",
    "ANTARCTIC": "Antarctica",
    "SAHRAWI": "Morocco"
}

In [9]:
combined_df['Country'] = combined_df['Country'].replace(country_name_map)

combined_df.to_csv("/Users/kim/Desktop/repos/Philippines_Visitor/data/cleanedData/2022cleanData.csv")

In [10]:
# Store Monthly Data
monthly_folder = "/Users/kim/Desktop/repos/Philippines_Visitor/data/monthly_visitors"

monthly_df = combined_df.iloc[3:].reset_index(drop=True) 
monthly_df['Country'] = monthly_df['Country'].apply(clean_country_name)

months = get_months(combined_df)

monthly_df = monthly_df[['Country'] + months]

mon_out_path = os.path.join(monthly_folder, f"2022_monthly.csv")
monthly_df.to_csv(mon_out_path, index=False)

print(f"Saved 2022 Monthly Visitors csv file")

Saved 2022 Monthly Visitors csv file

In [11]:
# Store Special Categories Data

cat_folder = "/Users/kim/Desktop/repos/Philippines_Visitor/data/special_category"

cat_df = combined_df.head(3)

cat_df = cat_df.iloc[:, :-2]

cat_df["Country"] = cat_df["Country"].apply(clean_country_name)

# Step 2: normalize names (replace after cleaning)
replacements = {
    "Grand Total": "Total",
    "Total Overseas Filipinos ": "Overseas Filipinos",
    "Total Foreign Tourist": "Foreign Tourists"
}
cat_df["Country"] = cat_df["Country"].replace(replacements)

cat_out_path = os.path.join(cat_folder, f"2022_category.csv")
cat_df.to_csv(cat_out_path, index=False)

print(f"Saved 2022 Category csv file")

Saved 2022 Category csv file

In [12]:
year_folder = "/Users/kim/Desktop/repos/Philippines_Visitor/data/yearly_total"

year_df = combined_df[['Country', 'Total', 'Percentage']]
year_df = year_df.iloc[3:]

In [ ]:
input_file_previous = "/Users/kim/Desktop/repos/Philippines_Visitor/data/yearly_total/2021_year.csv"

previous_df = pd.read_csv(input_file_previous)

previous_df = previous_df[['Country', 'Total']]
previous_df.rename(columns={'Total': 'Previous Total'}, inplace=True)
previous_df = previous_df.fillna(0)

# Merge the two dataframe together
yearly_total = pd.merge(year_df,previous_df, on = "Country", how='left')
yearly_total = yearly_total.fillna(0)

# Make a column named Denominator where all 0 are replaced as 1 to be use for the Growth Rate Calculation
yearly_total['Denominator'] = yearly_total['Previous Total'].replace(0, 1)

# Calculate Growth Rate
yearly_total['Growth Rate'] = (yearly_total['Total'] - yearly_total['Previous Total']) / yearly_total['Denominator'] * 100

# Drop the Denominator column as it is not needed for the final dataframe
yearly_total = yearly_total.drop(columns='Denominator')

# Round to 2 decimals 
yearly_total['Growth Rate'] = yearly_total['Growth Rate'].round(2)

# Take away the percent sign and assign to float
yearly_total["Percentage"] = yearly_total["Percentage"].str.replace('%', '')
yearly_total["Percentage"] = yearly_total["Percentage"].astype(float)

year_df.fillna(0, inplace=True)

# Save as a csv file
year_path = os.path.join(year_folder, f"2022_year.csv")
yearly_total.to_csv(year_path, index=False)

print(f"Saved 2022 Year csv file")

yearly_total.info()

Saved 2022 Year csv file
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         233 non-null    object
 1   Total           233 non-null    float64
 2   Percentage      233 non-null    float64
 3   Previous Total  233 non-null    float64
 4   Growth Rate     233 non-null    float64
dtypes: float64(4), object(1)
memory usage: 9.2+ KB